:root {
  font-size: 62.5%;

  --color-dark: #000000;
  --color-input: #06181c;
  --color-button: #065e7c;
  --color-header-table: #092d38;
  --color-even: #06161b80;
  --color-odd: #06181c;
  --text-color: #e1e1e6;
  --text-color-remove: #f75a68;
  --text-color-input: #7c7c8a;

  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-dark);
}

body * {
  font-family: var(--font-roboto);
  color: var(--text-color);
}

.app {
  margin: 11.5rem auto;
  max-width: 112rem;
}

header {
  margin: 11.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.7rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search input {
  width: 46.2rem;
  height: 4.8rem;
  padding-left: 1.6rem;
  background-color: var(--color-input);
  border: none;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--text-color-input);
  outline: 1px solid var(--color-button);
}

.search button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--color-button);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 3.2rem;
  height: 4.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.fav:hover {
  background: #ffffff;
  color: var(--color-button);
}

.fav:hover svg path {
  fill: var(--color-button);
}

.table {
  border: 1px solid var(--light-blue);
  border-radius: 1.2rem;
  overflow: hidden;

  max-height: 68.8rem;
  overflow-y: overlay;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  line-height: 160%;
  color: var(--text-color);
}

table tr:nth-child(even) {
  background-color: var(--color-even);
}

table tr:nth-child(odd) {
  background-color: var(--color-odd);

  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
}

table th {
  background-color: var(--color-header-table);
  text-align: left;
  padding: 1.6rem 4rem;
}

table th:first-child {
  width: 35vw;
}

.table::-webkit-scrollbar {
  width: 2.2rem;
}

.table::-webkit-scrollbar-thumb {
  background-color: var(--color-button);
  border-radius: 1rem;

  border: 0.8rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

table td {
  padding: 2.4rem 4rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
}

.user a {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-decoration: none;
}

.user a span {
  font-weight: 400;
}

.remove {
  border: none;
  background: none;
  text-decoration: none;
  color: var(--text-color-remove);
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 700;
  cursor: pointer;
}

.empty {
  font-family: var(--font-roboto-mono);
  background-color: var(--color-odd);

  display: flex;
}

.no-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  margin: 21rem auto 28.7rem;
}

.no-fav svg {
  width: 13.2rem;
  height: 12.5rem;
}

.no-fav h2 {
  font-size: 4rem;
  line-height: 2.5rem;
  color: #4e5455;
}

.hide {
  display: none;
}
