:root {
  font-size: 62.5%;

  --color-dark: #000000;
  --color-input: #06181c;
  --color-button: #065e7c;
  --color-header-table: #092d38;
  --color-even: #06161b80;
  --color-odd: #06181c;
  --text-color: #e1e1e6;
  --text-color-remove: #f75a68;
  --text-color-input: #7c7c8a;

  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-dark);
}

body * {
  font-family: var(--font-roboto);
  color: var(--text-color);
}

.app {
  margin: 11.5rem auto;
  max-width: 112rem;
}

header {
  margin: 11.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.7rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-wrapper #input-search {
  width: 46.2rem;
  height: 4.8rem;
  padding-left: 1.6rem;
  background-color: var(--color-input);
  border: none;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--text-color-input);
  outline: 1px solid var(--color-button);
}

.input-wrapper .fav {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--color-button);
  border: none;
  border-radius: 0.5rem;
  padding: 1.2rem 3.2rem;
  height: 4.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.fav:hover {
  background: #ffffff;
  color: var(--color-button);
}

.fav:hover svg path {
  fill: var(--color-button);
}

table {
  border-spacing: 0;
  width: 100%;
  border-radius: 1rem;
}

thead {
  background-color: var(--color-header-table);
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--text-color);
}

th,
td {
  padding: 1.6rem 2.4rem 1.6rem 4rem;
}

tbody tr:nth-child(even) td {
  background-color: var(--color-odd);
}

table tr td {
  border-top: 1px solid var(--color-button);
}

td {
  background-color: var(--color-even);
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--text-color);
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  max-width: 5.6rem;
  border-radius: 50%;
}

.user a {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-decoration: none;
}

.user a span {
  font-weight: 400;
}

.remove {
  border: none;
  background: none;
  text-decoration: none;
  color: var(--text-color-remove);
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 700;
  cursor: pointer;
}
